@charset "utf-8";
dl,
dd {
	margin: 0;
}

#option-box {
	width: 100%;
	min-width:360px;
	background: rgba(255, 255, 255, 0.8);
	margin: 10px auto;
}

#option-box dl {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #dadada;
	margin: 0 20px;
}

#option-box dt {
	float: left;
	color: #8a8a8a;
	margin-top: 15px;
}

#option-box dd {
	float: left;
	color: #252525;
	margin: 0 10px;
	margin-top: 15px;
	font-size: 14px;
	cursor: pointer;
}

#option-box dd:hover {
	color: #f65;
}

#option-box dd.active {
	color: #08f;
	font-weight: bold;
}

#option-box dl.select {
	background: #efefef;
	margin: 0;
	padding: 0 20px;
	border-bottom: 0;
}

#option-box dl.select dd{
	border: 1px solid #08f;
	height: auto;
	line-height: 25px;
	margin-top: 13px;
	padding: 0 2px 0 10px;
	background-color: #fff;
}
#option-box dl.select dd i{
	font-style:normal;
}
#option-box dl.select dd span{
	width: 25px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	background: #08f;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
}
#option-box dl.select dd span:hover {
	background: #f65;
}