/*
*By GaoHR
*/

/* Loading */
.loading-1 {content:url('../img/loading/loading-1.gif');width:20%;margin-left:40%}
.loading-2 {content:url('../img/loading/loading-2.gif');width:60%;margin-left:20%}
.loading-earth {content:url('../img/loading/loading-earth.gif');width:30%;margin-left:35%}
.loading-earth-s {content:url('../img/loading/loading-earth-s.gif');width:20%;margin-left:40%}

/* Brand */
.icon-qq {content:url('../img/brand/qq.png');width:32px;}
.icon-wechat {content:url('../img/brand/wechat.png');width:32px;}
.icon-sina {content:url('../img/brand/sina.png');width:32px;}
.icon-github {content:url('../img/brand/github.png');width:32px;}
