/*
* Writen by GaoHR
* 2019.10
*/
*{padding: 0;border: 0;outline: 0;}
h3{font-weight: normal;}
.classes-wrap{overflow: hidden;}
.content{width: 100%;margin: 0 auto;position: relative;}
.content:after{content: '';clear: both;height: 0;display: block;}
.clearfix:after{content: " ";display: table;clear: both;width: 100%;}
.classes-wrap .classes-item{width: 16%;float:left;cursor:pointer;padding:10px 0;position:relative;z-index:1;overflow:hidden;}
.classes-wrap .classes-item.active:after{display: block;}
.classes-wrap .classes-item:after{content:" ";position:absolute;z-index:2;background: url(../img/journal/icons.png) no-repeat -56px -7px;width:36px;height:18px;bottom:0;left:50%;margin-left:-18px;display:none;}
.classes-wrap .classes-item .icon{width:60px;height:60px;background-size:60px;background-repeat:no-repeat;display:block;margin:0 auto;}
.classes-wrap .classes-item.active .text{color:#000;font-weight:700;}
.classes-wrap .classes-item .text{font-size:1.2em;display:block;text-align:center;font-weight:400;margin-top:5px;}

.classes-wrap .classes-item .icon.icon-satellite{background-image: url(../img/journal/satellite-gray.png);}
.classes-wrap .classes-item:hover .icon.icon-satellite,
.classes-wrap .classes-item.active .icon.icon-satellite{background-image: url(../img/journal/satellite-blue.png);}

.classes-wrap .classes-item .icon.icon-globe{background-image: url(../img/journal/globe-gray.png);}
.classes-wrap .classes-item:hover .icon.icon-globe,
.classes-wrap .classes-item.active .icon.icon-globe{background-image: url(../img/journal/globe-blue.png);}

.classes-wrap .classes-item .icon.icon-rain{background-image: url(../img/journal/rain-gray.png);}
.classes-wrap .classes-item:hover .icon.icon-rain,
.classes-wrap .classes-item.active .icon.icon-rain{background-image: url(../img/journal/rain-blue.png);}

.classes-wrap .classes-item .icon.icon-compute{background-image: url(../img/journal/compute-gray.png);}
.classes-wrap .classes-item:hover .icon.icon-compute,
.classes-wrap .classes-item.active .icon.icon-compute{background-image: url(../img/journal/compute-blue.png);}


/*内容*/
.list-wrap{min-height:640px;background:#fff;padding:20px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);margin-bottom:50px;box-sizing:border-box;display:none;}
.list-wrap.active{display: block;}
.list-wrap .list-title{font-size: 22px;color: #000;margin-bottom: 20px;}
.list-wrap .list-title .icon-question{width: 26px;height: 29px;display: inline-block;vertical-align: -8px;margin-right: 10px;background: url(../img/journal/icons.png) no-repeat -10px -7px;}
.list-wrap .list-content .list-item{display: block;padding: 32px 0 32px 13px;position: relative;z-index: 1;border-bottom: 1px solid #e5e5e5;font-size: 16px;line-height: 21px;}
.list-wrap .list-content .list-item a{text-decoration: none;color: #535353;}
.list-wrap .list-content .list-item a:hover{color: #4381fd;}
.list-wrap .list-content .list-item a:before{content: " ";background: #b2b2b2;width: 4px;height: 4px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;position: absolute;z-index: 1;top: 42px;left: 0;}

.journal-name-list {border-right:1px solid #aaa;}
.journal-name {display:block;padding:5px 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin:10px;}
.journal-name:hover {background:rgba(55, 155, 255, 0.1);}
.journal-name [class^="rank-"] {color:#fff;background:#666;padding:0 5px;border-radius:50%;margin-right:10px}
.journal-name .rank-1 {background:#f00}
.journal-name .rank-2 {background:#f80}
.journal-name .rank-3 {background:#fc0}
.journal-name-list .active {color:#fff;background:#08e;}

