/*
* Writen by GaoHR
* 2019.10
*/
.journal-type-list {min-height:600px;}
.journal-type-list .journal-type-list-title {text-align:center;font-size:1.em;}
.journal-type-list a {display:block;margin:5px;}

.journal-list {min-height:480px;}
.journal-list .journal-list-title {text-align:center;font-size:1.em;}
.journal-list a {display:block;margin:5px;}

.journal-info {min-height:480px;}
.journal-info .journal-info-title {text-align:center;font-size:1.em;}








