@charset "utf-8";

.sort-type{
    height:50px;
    width:100%;
    margin-bottom:30px;
}

.sort-type ul{
    margin-left:10px;
}

.sort-type ul li{
    float:left;
    color:#adadad;
    font-size:16px;
    margin-top:12px;
}

.sort-type dl{
    margin-right:10px;
}

.sort-type dl li{
    float:right;
    color:#adadad;
    font-size:16px;
    margin-top:12px;
}

.sort-type ul .sort-type-active, .sort-type dl .sort-type-active{
    color:#088bd1;
}

