/*
*By GaoHR
*/
body {background-color:#fff;overflow-x:hidden;font-size:16px;font-family:'Microsoft YaHei'}
hr {margin-top:5px;margin-bottom:10px}
a {color:#08e}
a:hover {color:#f65;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;text-decoration: none;}
.header-menu {width:100%;min-height:70px;background-color:#fff;border:0;box-shadow: 0 2px 5px 0 rgba(195,195,195,0.5);padding:5px 0;font-size:1.2em;}
.header-menu .logo-title {font-size:1.5em;color:#555;margin-right:10%;}
.header-menu .menu-list a {color:#555;margin-right:10px;;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;text-decoration: none;padding:0 5px;display:inline-block;}
.header-menu .menu-list a:hover {color:#f65;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;text-decoration: none;border-bottom:5px solid #fa9;}
.header-menu .current-page {border-bottom:5px solid #f65;color:#f90 !important}
.header-menu i {font-size:24px;margin-top:10px;}
.header-menu .dropdown i {color:#999;}
.header-menu .dropdown i:hover {color:#08e;}
.header-menu .dropdown li:hover [class*="ion-"] {color:#08e;}

.main-page {width:100%;height:auto;margin-top:80px;}
.main-page .img-title {background-color:rgba(0,0,0,0.5);width:100%;right:0 !important;left:0 !important;bottom:0 !important;padding:35px 0 65px 0;font-size:1.2em}
.main-page .carousel img{width:100%;height:320px;}
.main-page .carousel i{}
.main-page .breadcrumb {height:36px;line-height:36px;background-color: #eee;padding:2px;margin-bottom:10px;}
.main-page .news-right {width:100%;height:320px;background:rgba(195,225,255,0.5)}

.main-page .item-block {width:100%;height:320px;color:#333;background:rgba(205,235,255,0.05);margin-top:20px}
.main-page .item-spectial {width:100%;min-height:320px;color:#333;background:rgba(205,255,205,0.05);margin-top:20px}
.main-page .item-spectial .links-a img {width:22%;margin-left:2%;margin-top:10px;opacity:1}
.main-page .item-spectial .links-a img:hover {opacity:0.85}
.main-page .links-icon img {width:50px;margin-left:10px;opacity:0.5}
.main-page .links-icon img:hover {opacity:1}

.portlet-0 {width:100%;color:#333;padding:2px;}
.portlet-0 .portlet-title {border-bottom:3px solid #fa9;}
.portlet-0 .portlet-title span {font-size:1.2em;}
.portlet-0 .portlet-title i {font-size:1.5em;color:#f65;}
.portlet-0 .portlet-title a {color:#f65;float:right;margin-right:10px;}
.portlet-0 .portlet-title a:hover {color:#08e}
.portlet {width:100%;color:#333;border-left:1px solid #6cf;padding:2px;}
.portlet .portlet-title {border-bottom:3px solid #6cf;}
.portlet .portlet-title span {font-size:1.2em;}
.portlet .portlet-title i {font-size:1.5em;color:#08e;}
.portlet .portlet-title a {color:#08e;float:right;margin-right:10px;}
.portlet .portlet-title a:hover {color:#f65}
.portlet .focusus img{width:80%}

.main-page .page-title {font-size:1.5em;margin:10px;}


/***************/

.breadcrumb {background-color:#fefefe}
.sider-menu {font-size:20px;margin-top:10%;text-align:center;font-family:'Microsoft YaHei'}

.g-color-white {color:#fee !important}
.g-color-black {color:#555 !important}
.g-color-red {color:#f65 !important}
.g-color-orange {color:#f82 !important}
.g-color-yellow {color:#fc0 !important}
.g-color-green {color:#3a0!important}
.g-color-blue {color:#39e !important}
.g-color-purple {color:#e0e !important}
.g-color-gray {color:#888 !important}

.g-text-sm {font-size:0.8em !important}
.g-text-bg {font-size:1.25em !important}
.g-text-lg {font-size:1.5em !important}

.g-bg-white {background-color:#fffefc !important}
.g-bg-black {background-color:#555 !important}
.g-bg-red {background-color:#f65 !important}
.g-bg-orange {background-color:#f82 !important}
.g-bg-yellow {background-color:#fc0 !important}
.g-bg-green {background-color:#4c0 !important}
.g-bg-blue {background-color:#39e !important}
.g-bg-purple {background-color:#e0e !important}
.g-bg-gray {background-color:#888 !important}

.text-center {text-align:center}
.shadow-sm {box-shadow: 1px 3px 5px rgba(195,195,195,0.5)}
.shadow-md {box-shadow: 2px 4px 8px rgba(195,195,195,0.75)}
.shadow-lg {box-shadow: 5px 5px 10px rgba(195,195,195,1)}

.percent-50 {width:50%;margin-left:25%;}
.percent-60 {width:60%;margin-left:20%;}
.percent-70 {width:70%;margin-left:15%;}
.percent-80 {width:80%;margin-left:10%;}
.percent-90 {width:90%;margin-left:5%;}

.btn-blue {background-color:#2878c8;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-blue:hover {background-color:#295c8e;color:#fff}
.btn-blue:active {background-color:#2878c8;}
.btn-red {background-color:#cc0000;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-red:hover {background-color:#990000;color:#fff}
.btn-red:active {background-color:#cc0000;}
.btn-orange {background-color:#ee4400;padding:3px;border-radius:3px;color:#fff;display:inline-block;}
.btn-orange:hover {background-color:#cc3300;color:#fff}
.btn-orange:active {background-color:#ee4400;}

#gotoTop{display:none;position:fixed;top:90%;left:85%;cursor:pointer;padding:5px 0;width:50px;text-align:center;background:#555;color:#fff;border-radius:50%}
#gotoTop.hover{background:#D55C42;color:#fff;text-decoration:none;border-radius:0;}
#gotoTop i {font-size:2em;line-height:20px}

#comments {background:#fefefe;padding:10px;margin-top:10px;margin-bottom:10px;}

body footer {position:relative;background:#333;text-align:center;color:#fff;padding:20px 0 0 0;vertical-align:baseline;margin:0;}
body footer a {color:#09f}
body footer .footer-text {color: #9a9a9a;text-align: center;margin-top: 25px;line-height: 18px;font-size: 10px;}
body footer .footer-text span {display: block}
body footer .footer-copy {margin: 0 auto;border-top: 1px solid #616161;margin-top: 15px;text-align: center;padding-bottom: 15px;font-size:10px;padding-top:12px;}
body footer .footer-copy .copyright{text-align:center;color:#aaa !important;background:#222}

.cltmap {width:100%;}
.dashang {width:100%;height:auto;text-align:center;}
.shang_img {width:80px;height:80px;background-image: url(../img/pay/shang.png);background-size:100% 100%;margin:auto;}
.tdcode {width:400px;height:240px;display:none;padding:10px;background:#777;border:1px soild #d85546}
.tdcode img {width:160px;margin:0 10px 10px 10px}
.dshstatis {width:100%;height:280px;padding:5px}
.dshlist {background:#333;width:98%;height:280px;color:#aaa;padding:5px}
.dshlist .dshtext {color:#eee;font-size:1.2em;border-bottom:0}
.dshlist .dshtext span {color:#f60;font-size:1.2em}
.dshlist .dshcontent {height:185px;overflow-y:scroll;}
.dshlist .dshcontent p {width:96%;margin-left:2%;margin:2px;border-bottom:1px dashed #aaa;margin:0 2px}
.dshlist .dshcontent p > i {color:#f40;margin-right:5px}
.dshlist .dshcontent p .name {color:#eee;margin-right:5px;font-weight:bold}
.dshlist .dshcontent p .money {margin:0 5px;color:#f65}
.dshlist .dshcontent p .money b {font-size:1.2em}
.dshlist .dshcontent p .date {color:#aaa}
.dshlist .dshcontent p .msg {color:#070}
.dshlist .dshbottom {color:#eee;font-size:1.2em}

#others {position:absolute;z-index:9999}

.mywarning {font-size:1.2em;color:#d85546;font-family:'Times New Roman'}

.greatChina {position:fixed;bottom:10px;right:10px;width:180px;color:#ccc;background:rgba(25,25,25,0.75);padding:10px;display:none}
.greatChina .ad-close span:before {content:"X"}
.greatChina .ad-close {color:#555;float:right;font-size:1.1em;background:rgba(255,255,255,1);border-radius:50%;padding:0 8px}
.flagimg {position:fixed;top:0px;left:30%;width:70px;z-index:9999}

.notice{position:fixed;top:60px;left:45%;width:320px;height:36px;background:url(http://gaohr.win/img/others/horn.png) no-repeat;z-index:9999;background-color:rgba(0,0,0,0.75);box-shadow:1px 1px 5px #aaa;border-radius:20px;}
.noticTipTxt{background:rgba(255,255,255,0.0);color:#ff7300;height:36px;line-height:36px;overflow:hidden;margin:0;padding:0 0 0 40px}
.noticTipTxt li{height:36px;line-height:36px;list-style-type:none;}
.noticTipTxt a{color:#fff;font-size:14px;text-decoration:none;vertical-align:middle;}
.noticTipTxt a:hover{color:#ff7300;text-decoration:underline;}

/* timer */
.timer-container {position: relative;margin:auto;overflow: hidden;width:100%;text-align: center;}
.timer-container p {color: #fff;font-size:1.2em}
#timer {color: #F6F4F3;text-align: center;margin-top: 5ps;}
.days, .hours, .minutes, .seconds {display: inline-block;padding: 5px 10px;width: auto;margin-right:5px;border-radius: 5px;background: #F6F4F3;color: #183059;}
.numbers {font-family: "Montserrat", sans-serif;color: #183059;font-size: 1.2em;font-weight:bold;}

/* search */
.g-search {position: relative;float:right;text-align:center;z-index:99999}
.g-search input {background:rgba(255,255,255,1);border:1px solid #999;border-radius:20px 0 0 20px;color:#fff;display:block;float:left;font-size:12px;height:32px;margin:0;padding:0 10px;width:120px;}
.g-search input::-webkit-input-placeholder {color: #555;}
.g-search input:-moz-placeholder {color: #555;}
.g-search input:focus {-webkit-animation: glow 800ms ease-out infinite alternate;-moz-animation: glow 800ms ease-out infinite alternate;animation: glow 800ms ease-out infinite alternate;background: rgba(255,255,255,0.9);color: #555;outline: none;}
.g-search input:focus::-webkit-input-placeholder { color: #555;}
.g-search input:focus:-moz-placeholder {color: #555;}
.g-search a {background:rgba(255,255,255,0.5);border:1px solid #999;border-radius:0 20px 20px 0;color:#555;display:block;float:left;font-size:18px;height:32px;line-height:32px;margin:0;padding:0;position:relative;width:42px;text-decoration:none;transition:all 0.2s ease;}
.g-search a:hover, .g-search a:focus {background:rgba(255,255,255,1);color:#08e;transition:all 0.2s ease;}
.g-search a:active {background: rgba(255,255,255,0.5)}
.g-search .warning {display:none;width:100%;background:#f2eeee;color:#b94a48;margin-top:32px;border-color:#eed3d7;}
@-webkit-keyframes glow {
    0% {box-shadow: 0 0 5px rgba(0,105,255,0.1);border:1px solid #fff}
    100% {box-shadow: 0 0 20px rgba(0,105,255,1);border:1px solid #09f}
}
@-moz-keyframes glow {
    0% {box-shadow: 0 0 5px rgba(0,105,255,0.1);border:1px solid #fff}
    100% {box-shadow: 0 0 20px rgba(0,105,255,1);border:1px solid #09f}
}
.popup-search {display:none;position:absolute;z-index:9999;width:50%;margin-left:25%;height:60%;background:#fff;}
.popup-search .title {position:relative;width:100%;height:55px;background:rgba(0,0,0,0.75);cursor:move;}
.popup-search .title p {padding-left: 14px;line-height: 55px;color: #fff;}
.popup-search .title span {position:absolute;top:12px;right:20px;width:30px;height:30px;color:#fff;opacity:0.7;font-size:16px;cursor:pointer;text-align:center;}
.popup-search .title span:hover {opacity:1;}
.popup-search .cont {padding:20px;font-size:12px;max-height:80%;overflow-y:scroll}

/*About*/
.info {font-family:'Microsoft YaHei';font-size:1.1em}
.info h3 {color:#da2e1b;}
.info span {padding:5px;margin:1px 3px}
.info p {color:#333}
.geyan {background-color:#eee;border-left:5px solid #d86666;border-right:5px solid #d86666;padding:2px 5px;color:#555;margin-right:10%;text-align:center}
.moreinfo {color:#333;font-size:1.1em}
.moreinfo .infotitle {color:#236eb8;font-weight:bold;font-size:18px;border-left:5px solid #d86666;padding-left:10px}
.moreinfo .infocontent{color:#444;padding:2px;margin-left:5%;margin-bottom:2%;border:1px solid rgba(0,0,0,0)}
.infocontent i {color:#d85546;font-size:1.2em;margin-right:1%}
.moreinfo .infocontent:hover i {color:#55d846;-webkit-transition: all 0.3s ease;transition: all 0.3s ease}
.moreinfo .infocontent:hover {padding:2px;background-color: #666;color:#fff;-webkit-transition: all 0.3s ease;transition: all 0.3s ease}

/* Loading */
.loading-1 {content:url('../img/loading/loading-1.gif');width:20%;margin-left:40%}
.loading-2 {content:url('../img/loading/loading-2.gif');width:60%;margin-left:20%}
.loading-3 {content:url('../img/loading/loading-3.gif');width:60%;margin-left:20%}
.loading-earth {content:url('../img/loading/loading-earth.gif');width:30%;margin-left:35%}
.loading-earth-s {content:url('../img/loading/loading-earth-s.gif');width:20%;margin-left:40%}

/* Brand */
.icon-qq {content:url('../img/brand/qq.png');width:32px;}
.icon-wechat {content:url('../img/brand/wechat.png');width:32px;}
.icon-sina {content:url('../img/brand/sina.png');width:32px;}
.icon-github {content:url('../img/brand/github.png');width:32px;}

/*滚动条美化*/
::-webkit-scrollbar{width:10px;height:6px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:transparent;}
::-webkit-scrollbar-thumb:vertical{background-color:#3792ef;border-radius:6px}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active {background-color: #2e86ef}


@media (max-width: 2000px) {
	.menu-list-xs {display:none}
}

@media (max-width: 1600px) {
	.menu-list-xs {display:none}
}

@media (max-width: 800px) {
	.menu-list-lg {display:none}
	.menu-list-xs {display:block}
	
	.percent-50 {width:100%;margin-left:0;}
	.percent-60 {width:100%;margin-left:0;}
	.percent-70 {width:100%;margin-left:0;}
	.percent-80 {width:100%;margin-left:0;}
	.percent-90 {width:100%;margin-left:0;}
}

@media (max-width: 480px) {
	
}

@media (max-width:400px) {
	
}





